*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

.container {
    margin: 0 auto;
    width: 75%;
    max-width: 1200px;
}

.text-center {
    text-align: center;
}


/* HEADER  */

header {
    width: 100%;
    position: absolute;
    z-index: 10;
    background: transparent;
    padding: 26px 0px;
    border-bottom: 1px solid rgb(255, 255, 255,0.2);
}



header .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .logo i {
    color: #ffffff;
    font-size: 30px;
}

.container .logo span {
    color: #ffffff;
    font-size: 30px;

}


header nav a {
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 40px;
    color: #ffffff;
    transition: 0.5s;
    
}

header nav a:hover ,
header a.active {
    color: #E62B4B;
}

/* BANNER  */

.banner{
    background-image: url("../image-video/home_slider.jpg");
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner__container {
    width: 50%;
    text-align: center;
    color: #ffffff;
}

.banner__container h2 {
    font-size: 25px;
}

.banner__container p {
    margin: 20px 0px;
    font-size: 60px;
    font-weight: 700;
}

.banner__container button {
    border: none;
    padding: 15px 20px;
    background: #E62B4B;
    text-transform:uppercase;
    color: #ffffff;
    transition: 0.5s;
    cursor: pointer;
}

.banner__container button:hover {
    background: #af2239;
}

.banner__container i {
    font-size: 30px;
    margin-top: 30px;
    animation: arrowAnimate 1.5s infinite;
    /* animation-name: animate_1;
    animation-duration: 1s;
    animation-iteration-count: infinite; */
} 

@keyframes arrowAnimate {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }

    40% {
        opacity: 0.7;
    }

    60% {
        opacity: 0.5;
    }

    100% {
        transform: translateY(40px);
        opacity: 0;
    }

}

/* CAROUSEL  */

.carousel {
    padding: 80px 0;
    background: black;
}

.carousel__text {
    text-align: center;
}

.carousel__text span {
    color: #E62B49;
    margin-bottom: 10px;
    display: block;
}

.carousel__text h1 {
    font-size: 40px;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 20px;
}

.carousel__text p {
    color: #888888;
    line-height: 22px;
    font-size: 18px;
    font-weight: bold;
}

.carousel__list {
    margin-top: 20px;
}

.carousel__item {
    height: 250px;
    padding: 0 10px;
    color: #888888;
}

.item__container {
    width: 100%;
    height: 100%;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;

}

.item__container::before {
    content: "";
    position: absolute;
    width: 5px;
    right: 0;
    background: red;
    /* cach 1 */
    /* top: 0;
    height: 0;
    transition: all .2s; */
    top: -100%;
    height: 100%;
    transition: all 0.2s;


    /* cach 2 
    height: 100%;
    top:0;
    transform: translateY(-100%);
    transition: all 0.2s; */
}

.item__container:hover::before {
    /* cach 1  */
    /* height: 100%; */
    /* cach 2  */
    /* transform: translateY(0); */
    top: 0;
}

.item__container i {
    font-size: 40px;
}

.item__container p {
    text-transform: uppercase;
    font-size: 15px;
}


.carousel .slick-dots li.slick-active button:before {
    opacity: 1;
    font-size: 15px;
    color: #B31F38;
}

.carousel .slick-dots li button::before {
    font-family: slick;
    font-size: 15px;
    line-height: 20px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20px;
    height: 20px;
    content: "•";
    text-align: center;
    opacity: 0.25;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
}

.carousel .slick-dots li button:hover:before {
    opacity: 1;
}



.carousel .slick-dots {
    bottom: -40px;
}

/* BLOGS  */

.blogs {
    background-color: white;
}

.blogs .blog__container {
    padding: 100px 0px;
}



.blog__title {
    text-align: center;
}

.blog__title span {
    color: #888888;
}

.blog__title h1 {
    font-size: 40px;
    margin: 10px 0px 20px 0px;
}

.blog__title p {
    color: #888888;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
}

.blog__list {
    margin-top: 20px;
}

.item__layout {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(255, 0, 0 , 0.3);
    transition: all .3s;
    opacity: 0;    
}

.item__search {
    position: absolute;
    top: 25px;
    right: 25px;
    transition: all .5s;
}

.item__search:hover i {
    background-color: black;
    color: #ffffff;
}

.item__search a {
    color: black;
}

.item__search i {
    background-color: #ffffff;
    padding: 10px;
    transition: .5s;
    
}

.item__title {
    position: absolute;
    bottom: 0px;
    left: 25px;
    transition: all .5s;
}

.item__title h3 {
    color: rgb(255, 255, 255 , 0.7);
}

.item__title p {
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
}

.blog__item:hover .item__layout {
    opacity: 1;
}

.blog__item:hover .item__title {
    bottom: 25px;
}

.blog__item:hover .item__search {
    top:10px;
}

.blog__list {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.blog__item {
    position: relative;
}

.blog__item.item_1 {
    /* grid-column: 1/span 2;
    grid-row: 1/span 2; */
    grid-column: 1/3;
    grid-row: 1/3;
}

.blog__item.item_10 {
    /* grid-column: 3/ span 2;
    grid-row: 3/ span 2; */
    grid-column: 3/5;
    grid-row: 3/5;

}



.blog__item img {
    display: block;
    width: 100%;
    height: 100%;
    filter: grayscale(50%) contrast(50%);
    object-fit: cover;
}

/* NUMBER  */

.number {
    background-color: black;
}

.number__container {
    max-width: 70%;
    margin: auto;
}

.number__list {
    padding: 80px 0px;
    display: flex;
}

.number__item {
    width: 25%;
    color: #ffffff;
    text-align: center;
}

.number__item span {
    font-size: 60px;
}

.number__item p { 
    margin-top: 15px;
    color: #888888;
    font-weight: bold;
}

/* EXPERIENT  */

.experient {
    background-image: url("../image-video/bussiness_img_1.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 100px 0px;
}

.experient__container {
    text-align: center;
}

.experient__container span {
    color: #E62B4B;
}

.experient__container h1 {
    margin-top: 10px;
    font-size: 50px;
    color: #ffffff;
}

.experient__container p {
    color:#888888;
    font-weight: bold;
    margin: 30px 0px;
}

.experient__video video {
    width: 100%;
    object-fit: cover;
    box-shadow: 0 2px 10px 1px rgb(0 0 0 / 50%);
}

/* CONTACT  */

section#contact {
    background-color: white;
}

.contact {
    padding: 80px 0px;
}

.contact__title {
    text-align: center;
}

.contact__title h1 {
    font-size: 50px;
}

.contact__title p {
    color: #888888;
    font-weight: bold;
    margin: 20px 0px;
}

.contact .contact__container {
    display: flex;
    justify-content: space-between;
}

.contact__map {
    width: 58%;
}

.contact__form {
    width: 40%;
}

.contact__form input {
    width: 100%;
    margin-bottom: 30px;
    padding: 10px 5px;
}

.contact__form textarea {
    width: 100%;
    padding: 5px 0px 150px 10px;
    margin-bottom: 20px;
}

.contact__form button {
    width: 100%;
    padding: 20px 0px;
    border: none;
    background-color: #000;
    color: #ffffff;
    transition: all .5s;
    cursor: pointer;
}

.contact__form button:hover {
    background-color: #E62B4B;
}

/* FOOTER  */

.footer {
    padding: 100px 0px;
    background-color: #000;
}

.container__footer {
    display: flex;
    justify-content: space-between;
}

.container__footer span {
    font-size: 14px;
    color: #ffffff;
}

.footer__icon {
    width: 22%;
    display: flex;
    justify-content: space-between;
}

.footer__icon .item {
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255, 0.2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    cursor: pointer;
}

.footer__icon .item:hover {
    background-color: #E62B49;
}

.footer__icon .item i {
    color: #ffffff;
}

a#back_to_top {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: rgb(255, 0, 0 , 0.5);
    color: #ffffff;
    width: 50px;
    height: 50px;
}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
    position: fixed;
    bottom: 20px;
    right: 20px;
  }


